@import url(./form.css);
@import url(./form-input.css);
@import url(./form-span.css);
@import url(./form-button.css);

.content__form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 10rem;
  width: 100%;
}
