.form__button {
  background-color: var(--blue);
  border-radius: 30px;
  box-shadow: hsl(223, 87%, 90%) 0px 5px 5px 2px;
  color: var(--white);
  cursor: pointer;
  font-size: .75rem;
  padding: .75rem;
  transition: .3s;
  width: 100%;
}

.form__button:hover {
  background-color: var(--light-blue);
}
