.form__button {
  font-size: .75rem;
  color: var(--white);
  background-color: var(--blue);
  box-shadow: hsl(223, 87%, 90%) 0px 5px 5px 2px;
  width: 100%;
  padding: .75rem;
  border-radius: 30px;
}