@import url(./content-title.css);
@import url(./content-subtitle.css);
@import url(./content-image.css);

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

