@media screen and (min-width: 540px) {
  .content__image {
    width: 100%;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .content {
    width: 100%;
  }
  
  .content__form {
    align-items: flex-start;
    gap: 1rem;
    flex-direction: row;
    height: 6rem;
  }  

  .form {
    align-items: flex-start;
    gap: .75rem;
  }

  .form__input {
    font-size: 1.1rem;
    margin-bottom: 0;
  }

  .form__span {
    font-size: .85rem;
    margin-left: 1.5rem;
  }

  .form__button {
    align-items: flex-start;
    font-size: 1rem;
    width: 45%;
  }

  .content__image {
    width: 546px;
    margin-bottom: 2rem;
  }

  .footer {
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 1440px) {
  body {
    max-width: none;
  }

  .header {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  .content {
    width: 720px;
  }

  .content__title {
    font-size: 3.25rem;
    margin-bottom: 1rem;
  }

  .content__subtitle {
    font-size: 1.3rem;
  }

  .content__image {
    max-width: 720px;
    width: 50vw;
  }

  .content__form {
    height: 7rem;
  }

  .footer {
    margin-bottom: 1rem;
  }

  .footer__text {
    font-size: .85rem;
  }
}

@media screen and (max-height: 786px) {
  .content__image {
    margin-bottom: 4rem;
  }
  
  .footer {
    margin-bottom: 1rem;
  }
}
