@import url(./variables.css);
@import url(./reset.css);

body {
 align-items: center;
 display: flex;
 flex-direction: column;
 font-family: var(--libre-franklin);
 font-size: 20px;
 justify-content: center;
 margin: auto;
 max-width: 540px;
 width: 100vw;
}
